<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http:www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "Luis.Sanchez.FinalN330"
        version     = "1.0.0" >

    <name>Running App</name>

    <description>
	A simple running application
    </description>

    <author href="Github.com/users/AvocadoTurtle" email="luisanch@imail.iu.edu">
    Luis Sanchez
    </author>

        <icon src="Icon.png" />
        <gap:splash src="Splash.png" />

        <gap:platform name="android/>


    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="19"
              android:maxSdkVersion="19" />

<feature name="Geolocation">
    <param name="android-package"value="org.apache.cordova.Geobroker" />
</feature>

<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />

</widget>